@use './partials/global' as *;

/* Header Section */
.header {
    background-image: url(../assets/images/coffee-circle.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 52rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    background-color: var(--graphite);
    width: 18.75rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__content--box {
    background-color: transparent;
    width: 18.75rem;
    height: 12.5rem;
    position: absolute;
    border: .3125rem solid var(--nitro-blue);
    top: -1rem;
    left: -1rem;
    z-index: 1;
}

.header__title {
    color: var(--white);
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

/* Submenu Section */
.submenu {
    background-color: var(--graphite);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.submenu__list {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.submenu__link {
    color: var(--white);
    text-transform: uppercase;
    padding-left: 1.25rem;
    border-left: 0.25rem solid var(--nitro-blue);
}

/* Menu Sections */
/* Learning Studio insight: treat each section like the product card section on the landing page, allows for scalability */

.menu-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-section:nth-child(even) {
    background-color: var(--light-gray);
}

.menu-section:nth-child(odd) {
    background-color: var(--nitro-pink);
}

.menu-section__title {
    margin-bottom: 1.5rem;
    color: var(--graphite);
    text-align: center;
}

/* Menu Items */
.menu-item {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

.menu-item__name {
    font-size: 2rem;
    color: var(--graphite);
    margin: 0;
}

.menu-item__description {
    font-size: 1.25rem;
    color: var(--graphite);
    max-width: 35rem;
    margin: 0 auto;
}

.menu-item__price {
    color: var(--nitro-blue);
    margin-top: 0;
}
