/* Global Variables */
:root {
    /* Colors */
    --nitro-blue: #5BACC3;
    --nitro-pink: #FFF0ED;
    --graphite: #393939;
    --light-gray: #F7F7F7;
    --gray: #909090;
    --white: #FFF;

    /* Typography */

    /* Heading 1 and Heading 2 */
    --heading-large-size: 3.75rem;
    --heading-large-weight: 300; /* Light */

    /* Heading 3, Nav Heading, Footer Heading */
    --heading-medium-size: 2.0625rem;
    --heading-medium-weight: 300; /* Light */

    /* Nav Link, Button */
    --nav-button-size: 1.3125rem;
    --nav-button-weight: 400; /* Regular */

    /* Paragraph Text - Regular */
    --paragraph-size: 1.125rem;
    --paragraph-weight: 400; /* Regular */

    /* Discount Text */
    --discount-size: 2.8125rem;
    --discount-weight-regular: 400; /* Regular */
    --discount-weight-bold: 700; /* Bold */
}

/* Global Mixins */

/*Button mixin for repeated additions*/
@mixin button-styles($bg-color, $text-color) {
    padding: 1.25rem;
    margin: 1.25rem 0;
    background-color: $bg-color;
    color: $text-color;
    border: none;
    width: 11.25rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;

    // experimenting with a pseudoclass for the box overlay on the landing page vs the menu page (which uses a html element instead...which I think could be forgotton; easier to add here//
    &::before {
        content: '';
        position: absolute;
        top: -0.4rem;
        left: -0.4rem;
        width: 11.15rem;
        height: 3.9rem;
        border: 0.125rem solid var(--graphite);
        pointer-events: none;
        transition: top 0.3s ease, left 0.3s ease;
    }

    // click animation for buttons where box overlay moves to parentbox position//
    &:active::before {
        animation: moveBox 0.3s forwards;
    }
}

/* Reset Styles */
* {
    box-sizing: border-box;
}

/* Text Styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--paragraph-weight);
    padding-top: 6rem;
}

h1, h2, .nav__title {
    font-size: var(--heading-large-size);
    font-weight: var(--heading-large-weight);
}

h3, .footer__title, .product-card__price {
    font-size: var(--heading-medium-size);
    font-weight: var(--heading-medium-weight);
}

.nav__menu-link, button, .submenu__item {
    font-size: var(--nav-button-size);
    font-weight: var(--nav-button-weight);
    text-transform: uppercase;
}

p {
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
}

p.italic, .menu-item__description {
    font-style: italic;
}

/* Link Styles to remove underline and bullets, etc. */
a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

/* Header & top navigation bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--nitro-pink);
    padding: 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav--active {
    color: var(--nitro-blue);
}

.nav__logo-wrap {
    display: flex;
    align-items: center;
}

.nav__title {
    margin: 0;
    color: var(--graphite);
    font-weight: 300;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Footer styling */

.footer {
    position: relative;
    overflow: hidden;
}

.footer__content {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    background-color: var(--nitro-pink);
    padding: 5rem 0;
}

.footer__section {
    position: relative;
}

.footer__logo-img1, .footer__logo-img2 {
    position: absolute;
    width: 120px;
    opacity: 0.25;
}

// image on the top left of footer
.footer__logo-img1 {
    top: 2.5rem;
    left: -3rem;
}

// image on the bottom right of footer
.footer__logo-img2 {
    bottom: 2.5rem;
    right: -3rem;
}

.footer__text {
    margin: 0;
}

.footer__social-icon {
    width: 3.125rem;
}

.footer__social-link {
    display: inline-block;
}
